@font-face { font-family: DeadWalk; src:url('Assets/DeadFontWalking-X2Ka.ttf');}
*{
    margin:0;
}
html, body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    width: 100%;
}
a {
    text-decoration: none;
    color:#be3144;
}
body{
    background-color: rgba(42, 62, 51, 1);
    
}
.socialbar {
    height:auto;
    padding:10px;
    align-items:center;
    display: flex;
    justify-content: space-between;
    background-color:#3a4750;
    border: 2px solid#303841;
    
}
.gamestatus {
    width: 100%;
    overflow:hidden;
    white-space: nowrap;
    font-family: DeadWalk;
    font-size: 48px;
    color: #be3144;
    height: 48px;
    position: relative;
    margin-right:25px;
}

.scrolling-text {
    display: inline-block;
    padding-left: 100%;
    animation: marquee 15s linear infinite;
    white-space: nowrap;
    
}

@keyframes marquee {
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(0%);
    }
}

@keyframes marquee2 {
    0% { opacity: 100%; }
    5% { opacity: 50%; }
    10% { opacity: 0%; }
    15% { opacity: 50%; }
    20% { opacity: 100%; }
    25% { opacity: 50%; }
    30% { opacity: 0%; }
    35% { opacity: 50%; }
    40% { opacity: 100%; }
    45% { opacity: 50%; }
    50% { opacity: 0%; }
    55% { opacity: 50%; }
    60% { opacity: 100%; }
    65% { opacity: 50%; }
    70% { opacity: 0%; }
    75% { opacity: 50%; }
    80% { opacity: 100%; }
    85% { opacity: 50%; }
    90% { opacity: 0%; }
    95% { opacity: 50%; }
    100% { opacity: 100%; }
}
.steam {
    height:48px;
    width: 48px;
}
.socialcontainer{
    display: flex;
    gap: 10px;
}

.videocontainer {
    position:relative;
    background-color:black;
    width:100vw;
    height:100vh;
    overflow:hidden;
}
.videocontainer video {
    width: 100%;
    height: 100%;
    opacity: 25%;
    position: relative;
    object-fit: cover;
    display:block;
}
#socialicon:hover{
    opacity: 25%;
}

.overlay {
    position: absolute;
    top: 15%;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    z-index: 1;
    color: #be3144;
    font-family: DeadWalk;
    line-height: 50px;
}
.wrapper {
    color: 	#be3144;
    position:absolute;
    z-index:1;
    top:75%;
    left:50%;
    transform: translateX(-50%);
    text-align: center;
    line-height: 50px;
    font-family: DeadWalk;
    font-size: 24px;
}
.gametitle {
    font-size: 72px;
    padding-bottom:40px;
    letter-spacing: 8px;
    text-shadow: 2px 2px 5px #be3144;
    -webkit-box-reflect: below -70px linear-gradient(to bottom, rgba(0,0,0,0.0), rgba(0,0,0,0.4));

}

.gamedetail {
    padding-top:35px;
    font-size: 24px;
    
}

.miniinfo {
    display:flex;
    width:100%;
    padding:0;
    margin:0;
}
.gif {
    width: 33.3333%;
    padding:0;
    margin:0;
    position:relative;
    text-align: center;
}
.gif img {
    width:100%;
    height:auto;
    display:block;
    transition: opacity 0.3s ease;
}
.gif-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: DeadWalk;
    font-size: 24px;
    color: #be3144;
    display: none;
}
.gif:hover img {
    opacity:0;
}
.gif:hover .gif-text {
    display:block;
}
.steampage {
    -webkit-border-radius: 11;
    -moz-border-radius: 11;
    border-radius: 11px;
    -webkit-box-shadow: 0px 6px 5px #696969;
    -moz-box-shadow: 0px 6px 5px #696969;
    box-shadow: 0px 6px 5px #696969;
    color: #be3144;
    font-family: DeadWalk;
    font-size: 20px;
    background: rgba(42, 62, 51, 1);
    padding: 10px 20px 10px 20px;
    text-decoration: none;
    animation-name: wiggle;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease;

}
.steampage:hover {
    opacity:75%;
    animation-play-state:paused;
}
@keyframes wiggle {
    0% {}
    25% {}
    50% {scale:1.25;}
    75% {}
    100%{}
}