@font-face { font-family: DeadWalk; src:url('Assets/DeadFontWalking-X2Ka.ttf');}
*{
    margin:0;
}
html, body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    width: 100%;
}
.wrapper {
    text-decoration: none;
    color:#be3144;
}
body{
    background-color: #3a4750;
    
}
.socialbar {
    height:auto;
    padding:10px;
    align-items:center;
    display: flex;
    justify-content: space-between;
    background-color:#3a4750;
    border: 2px inset #303841;
    
}
.gamestatus {
    width: 100%;
    overflow:hidden;
    white-space: nowrap;
    font-family: DeadWalk;
    font-size: 48px;
    color: #be3144;
    height: 48px;
    position: relative;
    margin-right:25px;
}

.scrolling-text {
    display: inline-block;
    padding-left: 100%;
    animation: slide 12s linear infinite;
    white-space: nowrap;
    animation-delay: 5s;
}

@keyframes slide {
    0% {
        transform: translateX(-100%);
    }
  
    100% {
        transform: translateX(0%);
    }
}
.steam {
    height:48px;
    width: 48px;
}
.socialcontainer{
    display: flex;
    gap: 10px;
}

.videocontainer {
    position:relative;
    background-color:black;
    width:100vw;
    height:100vh;
    overflow:hidden;
}
.videocontainer video {
    width: 100%;
    height: 100%;
    opacity: 25%;
    position: relative;
    object-fit: cover;
    display:block;
}
#socialicon{
    transition: transform 0.3s ease-out;
    color:#303841;
    padding:10px;

}
#socialicon:hover{
    opacity: 25%;
    filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(102deg) brightness(106%) contrast(101%);
    animation-play-state: paused;
   
}


.overlay {
    position: absolute;
    top: 15%;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    z-index: 1;
    color: #be3144;
    font-family: DeadWalk;
    line-height: 50px;
}
.wrapper {
    color: 	#be3144;
    position:absolute;
    z-index:1;
    top:75%;
    left:50%;
    transform: translateX(-50%);
    text-align: center;
    line-height: 50px;
    font-family: DeadWalk;
}
.gametitle {
    font-size: 128px;
    padding-bottom:40px;
    letter-spacing: 8px;
    text-shadow: 2px 2px 5px #be3144;
    -webkit-box-reflect: below -55px linear-gradient(to bottom, rgba(0,0,0,0.0), rgba(0,0,0,0.4));
}
.gamedetail {
    margin-top:25%;
    font-size: 36px;
}

.landing {
    animation-name: landing;
    animation-duration: 3s;
    animation-timing-function: ease;
    animation-iteration-count: 1;
    animation-fill-mode: none;
}

@keyframes landing {
    0%{transform: translateX(-100%);}
    25%{}
    50%{transform: translateX(20%)}
    100%{transform: translateX(0%);}
}

.miniinfo {
    display:flex;
    width:100%;
    padding:0;
    margin:0;
}
.gif {
    width: 33.3333%;
    padding:0;
    margin:0;
    position:relative;
    text-align: center;
}
.gif img {
    width:100%;
    height:auto;
    display:block;
    transition: opacity 0.3s ease;
}
.gif:hover img {
    opacity: 50%;
}
.gif:hover .mechanic-info{
    display:block;
    position: absolute;
}
.mechanic-info {
    color:#be3144;
    font-family:DeadWalk;
    display: none;
    z-index:1;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    font-size: 24px;
}
.steampage {
    opacity: 0%;
    -webkit-border-radius: 11;
    -moz-border-radius: 11;
    border-radius: 11px;
    -webkit-box-shadow: 0px 6px 5px #696969;
    -moz-box-shadow: 0px 6px 5px #696969;
    box-shadow: 0px 6px 5px #696969;
    color: #be3144;
    font-family: DeadWalk;
    font-size: 20px;
    background: #3a4750;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
    animation: floatin 1s ease-out forwards,
    wiggle 2s linear infinite;
    animation-delay:2s;
}
.steampage:hover {
    opacity:75%;
    animation-play-state:paused;
    border: 3px inset #3a4750;
}
@keyframes floatin {
    0%{transform: translateY(100%);opacity:0;}
    100%{transform:translateY(0%);opacity:1;}
}
@keyframes wiggle {
    0% {rotate:0deg;}
    15%{rotate:5deg;}
    25% {rotate:-5deg;scale:1.25;}
    50% {rotate:5deg;scale:1.5;}
    75% {rotate:-5deg;scale:1.25;}
    85%{rotate:5deg;}
    100%{rotate:-5deg;}
}


.faq-list {
    list-style-type: none;
    padding: 20px;
    background-color: rgba(48, 56, 65, .5);
    
  }
.faq-item {
    padding:20px;
    margin:30px auto;
    max-width:800px;
    
  }
  .faq-question, .fa-ellipsis-h, .faq-header {
    display:inline-block;
    margin: 0 auto;
    width: 100%;
    background: none;
    color: #be3144;
    font-family: DeadWalk;
    font-size: 28px;
    padding-top:20px;
    text-align: center;
    cursor: pointer;
    outline: none;
    padding-bottom:25px;
  }
  .faq-question {
    border: 8px outset #3a4750;
    box-shadow: 10px 10px 8px black;
  }

  .faq-answer {
    display: block;
    padding: 20px;
    color: #ffffff;
    font-size: 18px;
    font-family: sans-serif;
    border: 4px inset #3a4750;
    text-align:center;
    font-style: italic;
    opacity: 65%;
  }
  .hidden {
    display: none;
  }
  .contentdivider{
    padding:30px;
  }

  .fa-ellipsis-h {
    opacity:75%;
    color:#be3144;
  }
  .fa-xmark {
    padding-left:50px;
    padding-right:50px;
    opacity:0%;
  }
  .faq-header {
    text-align: center;
    margin:auto;
    cursor:default;
    border: 6px outset #3a4750;
    box-shadow: 10px 10px 8px black;
  }
  .header-text {
    letter-spacing: 10px;

  }
  .faq-headline {
    width:80%;
    margin:10px auto;
    border:5px outset snow;
    opacity: .5;
    margin-top:25px;
  }
  .trailer-container {
    display:flex;
    justify-content: center;
    background-color: transparent;
  }
  iframe {
    border: 10px outset #303841;
    width:720px;
    height:360px;
  }

  